include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft currency_course
global-exclude *.orig *.pyc *.log *.swp
prune currency_course/tests/coverage
prune currency_course/.ropeproject
